<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subPage_01_layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/page_001/page_001_02.css}" >
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/page_001/page_001_02.js}"></script>
    </th:block>

    <div layout:fragment="content">

        <!-- content1st -->
        <section id="content1st">
            <div class="greeting_img">
                <img src="imgs/page/page_001_greeting.jpg" alt="인사말">
            </div>
            <!-- <div class="inner">
                <div class="title">
                    <p>인사말</p>
                </div>
                <div class="greeting_img">
                    <img src="imgs/page/page_001_greeting_title.png" alt="인사말">
                </div>
                <p>우리는 질문합니다.<br>
                    왜, 어떻게 살아야 하는지 알 수만 있다면...<br>
                    서로 아낌없는 격려와 사랑을 주고받을 수 있는 사람이 있다면...<br>
                    이 질문을 하지 않고 있다면 답을 찾기를 포기했거나 이미 찾았기 때문일 것입니다.<br>
                    만약 이 답을 함께 찾기를 원하신다면 심곡천교회의 문을 두드려 보십시오.<br>
                    하나님이 주신 건강한 마음과 영혼을 가지고 오늘을 힘차게 사는 사람들이 있는<br>
                    심곡천교회가 여러분을 초대합니다.<br>
                    심곡천교회는 예수 그리스도를 통하여 얻게 된 우리의 삶의 의미를 함께 나누며<br>
                    우리 사회와 가정 속에서 일하시는 하나님과 함께 일하는 교회가 될 것입니다. </p>
            </div> -->
        </section> 

    </div>
</html>