<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subPage_01_layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/page_003/page_003_02.css}" >
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <!-- <th:block layout:fragment="script">
        <script th:src="@{/js/page/page_003/page_003_02.js}"></script>
    </th:block> -->

    <div layout:fragment="content">

        <!-- content1st -->
        <section id="content1st">
            <div class="content1st__inner">
                <div class="inner_top">
                    <h2>교육사역</h2>
                </div>
                <div class="line_01"></div>
                <div class="inner_middle">
                    <div class="middle_img">
                        <img src="imgs/page/page_003_02_top.png" alt="">
                    </div>
                    <p class="middle_cntn">흔히들 교리는 딱딱한 공부라고 말합니다.<br>
                                           머리만 커지는 일이라고 오해하기도 합니다.<br> 
                                           그러나 기독교 교리를 공부하는 일은 하나님을 섬기는 것을 배우는 일입니다.<br>
                                           하나님과 성경을 올바로 알지 못하는데 그분을 어떻게 섬길 수 있습니까?<br> 
                                           또한 나를 알고 남을 알아야 이길 수 있습니다.<br>
                                           교리를 성경에 기초한 그리스도인의 삶의 바퀴를 돌아가게 하는 중요한 과정입니다.</p>
                </div>
                <div class="line_02"></div>
                <div class="inner_bottom">
                    <div class="bottom_img">
                        <img src="imgs/page/page_003_02_bottom.png" alt="">
                    </div>
                    <p class="bottom_cntn">어린 시절 여자 아이들은 종종 머리에 수건을 쓰고 ‘신부의 베일’인양 꾸미고 놀곤 합니다.<br> 
                        아마도 미래의 결혼식을 꿈꾸는 것이겠죠?<br> 
                        또한 남자 아이와 여자 아이가 함께 하는 놀이가 있는데 ‘소꿉놀이’입니다.<br> 
                        아빠는 회사에 가고 엄마는 아이들을 돌보며 요리를 합니다.<br> 
                        그리고 아빠가 집에 돌아오면 함께 식탁에 앉아 엄마가 준비한 저녁을 먹으며 그날 있었던 일을 이야기합니다.<br> 
                        하지만 이런 순수한 어린 시절은 곧 지나고 성이니 되면 책임감이라는 것을 알게 되고<br> 
                        현실의 결혼 생활은 어린 시절 꿈꾸었던 것보다는 훨씬 더 어려운 것임을 경험하게 됩니다.<br> 
                        이때쯤 되면 가족과 가정에 대한 생각의 폭이 넓어지면서 도전을 받게 됩니다.<br> 
                        어느 때보다 부부관계에 큰 타격을 입기도 합니다.<br> 
                        그렇다면 이러한 현대사회에서 결혼을 향한 하나님의 계획에 따라 살아간다는 것은 어떤 의미일까요?<br>
                        그 의미를 찾고 아름다운 결혼생활을 하기 위해서 결혼제도를 만드신 하나님의 계획이 무엇인지 알아야 합니다.<br> 
                        결혼제도와 남편과 아내의 역할 그리고 의사소통⦁사랑⦁경제문제 등에 관련한 중요한 원리를 먼저 알아야 합니다.<br> 
                        이를 통해 하나님이 원하시는 결혼이란 무엇이며 어떻게 해야 그런 결혼생활을 유지할 수 있는지 발견하게 될 것입니다.<br> 
                        교재 : 아름다운 결혼생활(6주 프로그램)</p>
                </div>
            </div>
        </section> 

    </div>
</html>