  /*****************************************************/
  /*********************** content1 *********************/
  /*****************************************************/
  #content1st {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px 0 ;
  }
  .content1st__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1195px;
    width: 90%;
  }
  .line_01 {
    border: 1px solid var(--color-navy);
    opacity: 0.7;
    margin: 8px 0;
    width: 180px;
    align-self: center;
  }
  .line_02 {
    border: 1px solid var(--color-navy);
    opacity: 0.7;
    margin: 10px 0;
    width: 80%;
  }
  .inner_top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner_top > h2 {
    font-size: var(--font-large-medium);
    color: var(--color-navy);
  }
  .inner_middle {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .middle_img {
    width: 40%;
  }
  .middle_img > img{
    width: 100%;
  }
  .middle_cntn {
    width: 60%;
    line-height: 200%;
  }
  .inner_bottom {
    display: flex;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    padding-top: 20px;
  }
  .bottom_img {
    width: 20%;
    height: 100%;
  }
  .bottom_img > img {
    width: 80%;
  }
  .bottom_cntn {
    width: 80%;
    line-height: 200%;
  }
  @media screen and (max-width: 1100px) {
    .inner_top > h2 {
      font-size: var(--font-medium);
      color: var(--color-navy);
    }
    .inner_middle {
      width: 60%;
      flex-direction: column;
      align-items: center;
    }
    .middle_img {
      width: 100%;
    }
    .middle_cntn {
      width: 100%;
      line-height: 180%;
    } 
    .line_01 {
      margin: 8px 0;
      width: 150px;
      align-self: center;
    }
    .line_02 {
      border: 1px solid var(--color-navy);
      opacity: 0.7;
      margin: 10px 0;
      width: 70%;
    }


    .inner_bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .bottom_img {
      width: 35%;
    }
    .bottom_img > img {
      width: 110%;
    }
    .bottom_cntn {
      width: 100%;
      line-height: 180%;
    }
  }
  @media screen and (max-width: 550px) {
    .inner_top > h2 {
      font-size: var(--font-regular_20);
    }
    .inner_middle {
      width: 90%;
    }
    .line_01 {
      width: 100px;
    }
    .line_02 {
      width: 90%;
    }
    .middle_cntn {
      line-height: 150%;
    }

    .inner_bottom {
      width: 90%;
    }
    .bottom_img {
      width: 35%;
    }
    .bottom_img > img {
      width: 110%;
    }
    .bottom_cntn {
      line-height: 150%;
    }
  }