  /*****************************************************/
  /*********************** content1 *********************/
  /*****************************************************/
  

  #boardList__bind .board__bibleIndex::before {
    content: "본문 : ";
  }
  #boardList__bind .board__writer::before {
    content: "설교자 : ";
  }
  #boardList__bind .board__writer::after {
    content: " 목사";
  }
  #boardList__bind .board__date::before {
    content: "날짜 : ";
  }
  #boardList__bind .board_viewCount::before {
    content: "조회수 : ";
  }
  

