  /*****************************************************/
  /*********************** content1 *********************/
  /*****************************************************/
  #content1st {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
  }
  .content1st__inner {
    display: flex;
    justify-content: center;
    max-width: 1195px;
    width: 90%;
  }
  .content1st__inner > img {
    width: 100%;
  }



