<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
    <!-- footer -->
    <footer id="footer" th:fragment="footerFragment">
        <div class="top_box">
            <div class="left_box">
                <div class="left_box_1strow">
                    <p>개인정보처리방침</p>
                    <p>/</p>
                    <p>이용약관</p>
                    <p>/</p>
                    <p>이메일무단수집거부</p>
                </div>
                <div class="left_box_2strow">
                    <p>(우)14573 경기도 부천시 부흥로 405 4층</p>
                    <p>TEL. 032-613-4634</p>
                </div>
                <div class="left_box_3strow"></div>
            </div>
            <div class="right_box">
                <div class="right_box_1strow">
                    <p>Family Site</p>
                </div>
            </div>
        </div>
        <div class="box_line"></div>
        <div class="bottom_box">
            <div class="left_box">
                <p>SIMGOKCHUN CHURCH. ALL RIGHTRS RESERVED.</p>
            </div>
            <div class="right_box">
                <P>img1</P>
                <P>img2</P>
                <P>img3</P>
                <P>img4</P>
                <P>img6</P>
            </div>
        </div>
        
    </footer>

</html>