<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
    <!-- Navbar -->
    <header id="header" th:fragment="headerFragment (dept_01, dept_02, img_path)">
        <img th:src="${img_path}" alt="배경이미지" class="backgroundImg">
            <div class="menu__depth">
                <p>홈</p>
                <i class="fas fa-chevron-right" style="opacity: 0.5;"></i>
                <select th:if="${dept_01 != null}" name="dept_lv01" id="dept_lv01">
                    <option th:each="row : ${dept_01}" 
                            th:text="${row.code_knm}" 
                            th:value="${row.code}"
                            th:selected="${row.selected == 'Y' }">
                    </option>
                </select>
                <i th:if="${dept_02 != null}" class="fas fa-chevron-right" style="opacity: 0.5;"></i>
                <select th:if="${dept_02 != null}" name="dept_lv02" id="dept_lv02">
                    <option th:each="row : ${dept_02}" 
                            th:text="${row.code_knm}" 
                            th:value="${row.code}"
                            th:selected="${row.selected == 'Y' }">
                    </option>
                </select>
            </div>
    </header> 

</html>