<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
    <!-- Navbar -->
    <nav id="navbar" th:fragment="navbarFragment">
        <div class="menu__bg hide"></div>
        <div class="navbar__outter-box">
            <div class="navbar__logo">
                <i class="fab fa-diaspora"></i>
                <a th:href="@{/main}">심곡천교회</a>
            </div>
            <div class="navbar__menu">
                <ul class="navbar__menu__ul">
                    <li class="navbar__menu__ul__item">
                        <P ><a  th:href="@{/SGC_001_01}">교회소개</a></P>
                        <ul class="sub__menu__ul hide">
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_001_01}">교회비전</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_001_02}">인사말</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_001_03}">예배안내</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_001_04}">오시는길</a></li>
                        </ul>
                    </li>
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/SGC_002_01}">말씀/찬양</a></P>
                        <ul class="sub__menu__ul hide ">
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_002_01}">설교영상</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_002_02}">성가대찬양</a></li>
                        </ul>
                    </li>
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/SGC_003_01}">양육/교육</a></P>
                        <ul class="sub__menu__ul hide " >
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_003_01}">양육과정</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_003_02}">교육사역</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_003_03}">일대일양육</a></li>
                        </ul>
                    </li>
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/SGC_004_01}">교회학교 </a></P>
                        <ul class="sub__menu__ul hide ">
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_004_01}">어린이부</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_004_02}">중고등부</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_004_03}">대학청년부</a></li>
                        </ul>
                    </li>
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/SGC_005_01}">자치기관</a></P>
                        <ul class="sub__menu__ul hide ">
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_005_01}">남전도회</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_005_02}">여전도회</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_005_03}">선교부</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_005_04}">찬양단</a></li>
                        </ul>
                    </li>
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/SGC_006_01}">포토존</a></P>
                        <ul class="sub__menu__ul hide ">
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_006_01}">행사앨범</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_006_02}">동영상</a></li>
                        </ul>
                    </li>
                    <li class="navbar__menu__ul__item">
                        <P><a th:href="@{/SGC_007_01}">나눔</a></P>
                        <ul class="sub__menu__ul hide">
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_007_01}">자유게시판</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/SGC_007_02}">교회소식</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar__loginjoin">
                <ul class="navbar__loginjoin__ul">
                    <li class="navbar__loginjoin__ul__item">로그인</li>
                    <li class="navbar__loginjoin__ul__item"></li>
                    <li class="navbar__loginjoin__ul__item">회원가입</li>
                </ul>
            </div>

            <!-- Toggle button -->
            <button class="navbar__toggle-btn">
                <i class="fas fa-bars"></i>
            </button>
            
        </div>
        
    </nav> 

</html>