<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
    <!-- Navbar -->
    <nav id="navbar" th:fragment="navbarFragment" class="change__color">
        <div class="menu__bg hide change_color"></div>
        <div class="navbar__outter-box change_color">
            <div class="navbar__logo">
                <img th:src="@{/uploadImg/logo_05.png}" alt="로고">
                <a th:href="@{/main}">심곡천교회</a>
            </div>
            <div class="navbar__menu">
                <ul class="navbar__menu__ul">
                    <!-- <li class="mobile__line"></li> -->
                    <li class="navbar__menu__ul__item">
                        <P >
                            <a  th:href="@{/sgc_001_01}">교회소개</a>
                            <!-- <span class="moveLIne"></span> -->
                        </P>
                        <ul class="sub__menu__ul hide order01">
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_001_01}">교회비전</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_001_02}">인사말</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_001_03}">예배안내</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_001_04}">오시는길</a></li>
                        </ul>
                    </li>
                    <!-- <li class="mobile__line"></li> -->
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/sgc_002_01}">말씀/찬양</a></P>
                        <ul class="sub__menu__ul hide order02">
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_002_01}">설교영상</a></li>
                            <!-- <li class="sub__menu__ul__item"><a th:href="@{/sgc_002_02}">성가대찬양</a></li> -->
                            <li class="sub__menu__ul__item"><a th:onclick="comDoAction('repairPage','sgc_002_02')">성가대찬양</a></li>
                        </ul>
                    </li>
                    <!-- <li class="mobile__line"></li> -->
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/sgc_003_01}">양육/교육</a></P>
                        <ul class="sub__menu__ul hide order03" >
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_003_01}">양육과정</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_003_02}">교육사역</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_003_03}">일대일양육</a></li>
                        </ul>
                    </li>
                    <!-- <li class="mobile__line"></li> -->
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/sgc_004_01}">교회학교 </a></P>
                        <ul class="sub__menu__ul hide order04">
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_004_01}">어린이부</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_004_02}">중고등부</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_004_03}">대학청년부</a></li>
                        </ul>
                    </li>
                    <!-- <li class="mobile__line"></li> -->
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/sgc_005_01}">자치기관</a></P>
                        <ul class="sub__menu__ul hide order05">
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_005_01}">남전도회</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_005_02}">여전도회</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_005_03}">선교부</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_005_04}">찬양단</a></li>
                        </ul>
                    </li>
                    <!-- <li class="mobile__line"></li> -->
                    <li class="navbar__menu__ul__item">
                        <P><a  th:href="@{/sgc_006_01}">포토존</a></P>
                        <ul class="sub__menu__ul hide order06">
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_006_01}">행사앨범</a></li>
                            <!-- <li class="sub__menu__ul__item"><a th:href="@{/sgc_006_02}">동영상</a></li> -->
                            <li class="sub__menu__ul__item"><a th:onclick="comDoAction('repairPage','sgc_006_02')">동영상</a></li>
                        </ul>
                    </li>
                    <!-- <li class="mobile__line"></li> --> 
                    <li class="navbar__menu__ul__item">
                        <P><a th:href="@{/sgc_007_01}">나눔</a></P>
                        <ul class="sub__menu__ul hide order07">
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_007_01}">자유게시판</a></li>
                            <li class="sub__menu__ul__item"><a th:href="@{/sgc_007_02}">교회소식</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar__loginjoin">
                <ul class="navbar__loginjoin__ul loginjoin_left change_color">
                    <li class="navbar__loginjoin__ul__item">
                        <i sec:authorize="isAnonymous()" class="far fa-user-circle"></i>
                        <i sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.social_profile_url == null}" class="far fa-user-circle"></i>
                        <img sec:authorize="isAuthenticated()"  th:if="${#authentication.principal.user.social_profile_url != null}" th:src="${#authentication.principal.user.social_profile_url}" alt="사용자프로필">
                    </li>
                </ul>
                <ul class="navbar__loginjoin__ul loginjoin_right change_color">
                    <li class="mobile__line"></li>
                    <li class="navbar__loginjoin__ul__item">
                        <i sec:authorize="isAnonymous()" class="far fa-user-circle"></i>
                        <i sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.social_profile_url == null}" class="far fa-user-circle"></i>
                        <img sec:authorize="isAuthenticated()"  th:if="${#authentication.principal.user.social_profile_url != null}" th:src="${#authentication.principal.user.social_profile_url}" alt="사용자프로필">
                        <a sec:authorize="isAnonymous()" th:href="@{/loginForm}">로그인</a>
                        <span sec:authorize="isAuthenticated()" sec:authentication="name" style="color: white;" >사용자닉네임</span>
                    </li>
                    <!-- <li class="navbar__loginjoin__ul__item "></li> -->
                    <li class="mobile__line"></li>
                    <li class="navbar__loginjoin__ul__item">
                        <i class="fas fa-sign-out-alt"></i>
                        <a sec:authorize="isAnonymous()"  th:href="@{/joinRule}">회원가입</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
            <!-- Toggle button -->
            <button class="navbar__toggle-btn">
                <i class="fas fa-bars"></i>
            </button>
            
        </div>
        
    </nav> 

</html>