<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subPage_01_layout">

    <!-- index.html 고유 CSS 추가 -->
    <!-- <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/page_006/page_006_02_01.css}" >
    </th:block> -->
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/page_006/page_006_02_01.js}"></script>
    </th:block>

    <div layout:fragment="content">

        <!-- content1st -->
        <section id="content1st">
            <div class="content1st__inner board_cntn_area width_800">
                <form id="frm" class="board_cntn_area">
                    <div class="top__title" th:if="${#strings.isEmpty(boardDetail)}">
                        <h2 >게시글 작성</h2>
                    </div>
                    
                    <div class="title">
                        <label for="board_title">제목</label>
                        <input type="text" name="board_title" id="board_title" placeholder="제목을 입력하세요">
                    </div>
                    <div class="content">
                        <label for="board_cntn">내용</label>
                        <textarea th:if="${ #strings.isEmpty(boardDetail) }" name="board_cntn" id="board_cntn" cols="100" rows="20" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <div class="last__contents" th:if="${not #strings.isEmpty(boardDetail)}">
                        <p>작성자 :</p>
                        <p th:text="${boardDetail.user_kor_nm}"></p>
                        <p>작성일자 :</p>
                        <p th:text="${boardDetail.write_dt}"></p>
                    </div>
                    <div class="btns">
                        <button class="save" type="button" onclick="comDoAction('save','SGC_006_02')" >저장</button>
                        <button class="cancel" type="button" onclick="movePage('SGC_006_02')">취소</button>
                    </div>
                </form>
            </div>
        </section> 

    </div>
</html>