  /*****************************************************/
  /*********************** content1 ********************/
  /*****************************************************/

  .content1st__inner {
    flex-direction: column;
    justify-content: center;
    width: 550px;
    border: 5px solid gray;
  }
  .login_middle_01 {
    display: flex;
    justify-content: center;
  }
  .login_middle_02 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .failMsg {
    display: flex;
    justify-content: center;
    color: red;
  }

  .login_middle_02 input {
    margin-right: 10px;
  }
  .login_middle_02 label {
    margin-right: 10px;
  }
  .login_top {
    text-align: center;
  }
  .login_top > p {
    opacity: 0.6;
    font-size: var(--font-large-medium);
    font-weight: 500;
    margin: 20px 0 20px 0;
  }
  .box_01 {
    width: 18.5%;
  }
  .box_01 label {
    height: 35px;
    line-height: 220%;
    font-weight: 400;
  }
  .box_01 label:nth-child(1) {
    margin-bottom: 5px;
  }
  .box_02 {
    width: 45.5%;
  }
  .box_02 input {
    height: 35px;
  }
  .box_02 input:nth-child(1) {
    margin-bottom: 5px;
  }
  .box_03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18.5%;
    cursor: pointer;
    background-color: gray;
    margin-left: 10px;
  }
  .fa-power-off {
    font-size: 25px;
    color: white;
  }
  .box_03 > p {
    color: white;
    font-weight: 500;
  }
  .box_01,
  .box_02 {
    display: flex;
    flex-direction: column;
  }
  hr {
    width: 100%
  }
  .login_bottom {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .login_bottom button {
    margin: 0 5px 20px 5px;
  }
  .simple_login {
    margin-top: 20px;
  }
  .simple_for_kakao {
    width: 550px;
    height: 80px;
    /* object-fit: cover; */
    background-size: cover
  }

  @media screen and (max-width: 768px) {
    .content1st__inner {
      width: 450px;
    }

    .simple_for_kakao {
      width: 450px;
      height: 80px;
    }
    :root {
      --font-large-medium: 35px
    }
  }

  @media screen and (max-width: 480px) {
    .content1st__inner {
      width: 400px;
    }
    .simple_for_kakao {
      width: 400px;
      height: 75px;
    }
    :root {
      --font-large-medium: 30px
    }
  }
  
