  /*****************************************************/
  /*********************** content1 ********************/
  /*****************************************************/

  .content1st__inner {
    flex-direction: column;
    width: 550px;
    border: 5px solid gray;
  }
  .login_middle_01 {
    display: flex;
    justify-content: center;
  }
  .login_middle_02 {
    display: flex;
    margin: 10px 145px;
  }
  .failMsg {
    display: flex;
    justify-content: center;
    color: red;
  }

  .login_middle_02 input {
    margin-right: 10px;
  }
  .login_middle_02 label {
    margin-right: 10px;
  }
  .login_top {
    text-align: center;
  }
  .login_top > p {
    opacity: 0.6;
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0 20px 0;
  }
  .box_01 {
    width: 100px;
  }
  .box_01 label {
    height: 35px;
    line-height: 220%;
    font-weight: 400;
  }
  .box_01 label:nth-child(1) {
    margin-bottom: 5px;
  }
  .box_02 {
    width: 250px;
  }
  .box_02 input {
    height: 35px;
  }
  .box_02 input:nth-child(1) {
    margin-bottom: 5px;
  }
  .box_03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    background-color: gray;
    margin-left: 10px;
  }
  .fa-power-off {
    font-size: 25px;
    color: white;
  }
  .box_03 > p {
    color: white;
    font-weight: 500;
  }
  .box_01,
  .box_02 {
    display: flex;
    flex-direction: column;
  }
  hr {
    width: 450px;
  }
  .login_bottom {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .login_bottom button {
    margin: 0 5px 20px 5px;
  }