  /*****************************************************/
  /*********************** content1 *********************/
  /*****************************************************/
  #content1st {
    display: flex;
    justify-content: center;
  }

  .info_img {
    display: flex;
    justify-content: center;
    max-width: 1195px;
    width: 100%;
  }

  .info_img > img{
    margin: 90px 0;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 480px) {
    .info_img > img{
      margin: 40px 0 0 0;
    }
    #content1st {
      margin-bottom: 0;
    }
  }
