  /*****************************************************/
  /*********************** content1 *********************/
  /*****************************************************/
  #content1st {
    display: flex;
    justify-content: center;
  }

  .info_img {
    display: flex;
    justify-content: center;
    max-width: 1195px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 90px;
  }

  .info_img > img {
    width: 100%;
  }


  