  /*****************************************************/
  /*********************** content1 *********************/
  /*****************************************************/
  #content1st {
    display: flex;
    justify-content: center;
  }

  .greeting_img {
    display: flex;
    justify-content: center;
    max-width: 1195px;
    width: 100%
  }

  .greeting_img > img {
    width: 110%; 
    height: 100%;
  }

  @media screen and (max-width: 480px) {
    #content1st {
      margin-bottom: 0;
    }
  }


