
  /* Global */

  :root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-light-white2: #f5f5f5;
    --color-navy : #083f70;
  
    /* Font size */
    --font-large: 48px;
    --font-large-medium: 40px;
    --font-medium: 28px;
    --font-regular_20: 20px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    --font-size40: 40px;
    --font-size35: 35px;
    --font-size25: 25px;

    /* Font size */
    --size-25: 25px;
    --size-border-radius: 4px;

    /* Font weight */
    --weight-big-bold:900;
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  }

  /* Universal tabs */
  * {
      box-sizing: border-box;
  }

  body {
      margin: 0;
      /* font-family:'Roboto Mono', monospace; */
      font-family: 'Roboto', sans-serif;
      /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
      cursor: default;
      -ms-overflow-style: none;
      width: 100%;
  }
  body::-webkit-scrollbar {
      display: none; 
  }

  a {
      text-decoration: none;
      color:var(--color-black);
  }

  ul {
      list-style: none;
      padding-left: 0;
  }


  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  } 

  button {
    cursor: pointer;
  }

  /* width */
  .width_10 {width: 10px;}
  .width_20 {width: 20px;}
  .width_30 {width: 30px;}
  .width_40 {width: 40px;}
  .width_50 {width: 50px;}
  .width_60 {width: 60px;}
  .width_70 {width: 70px;}
  .width_80 {width: 80px;}
  .width_90 {width: 90px;}
  .width_100 {width: 100px;}
  .width_800 {width: 800px;}
  .width_1000 {width: 1000px;}
  .width_1195 {width: 1195px;}


  /*****************************************************/
  /*********************** Navber **********************/
  /*****************************************************/
  #navbar {
    display: flex;
    justify-content: center;
    background-color: #132332; 
    margin: auto;
    width: 100%;
    /* height: 80px; */
    /* height: 355px; */
    z-index: 999;
    position: sticky;
    top: 0px;
    transition: all 200ms linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #navbar.hide {
    transition: all 200ms linear;
    transform: translateY(-90px);
  }
  /* .navbar__menu.hide {
    transition: all 2000ms linear;
    display: none;
  }
  .navbar__loginjoin.hide {
    transition: all 200ms linear;
    display: none;
  } */
  .menu__bg {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 300px;    
    background-color:#132332; 
    z-index: 1;
    transition: all 200ms linear;
    opacity: 0.8;
  }
  .menu__bg.hide {
    transform: translateY(-330px);
    transition: all 200ms linear;
  }
  .navbar__outter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1195px;
    z-index: 2;
  }
  .navbar__logo {
    display: flex;
    /* align-self: flex-start; */
    /* width: 220px; */
    justify-content: center;
    width: 22%;
    padding-top: 5px;
  }
  .navbar__logo > img {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 5px;
  }
  .navbar__logo > a {
      font-size: var(--font-medium);
      display: flex;
      align-items: center;
  }
  .navbar__menu {
    /* height: 80px; */
    width: 62.2%;
  }
  .navbar__menu__ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      width: 100%;
  }
  .navbar__menu__ul__item {
    margin-top: 5px;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    cursor: pointer;
    width: 100%;
    line-height: 200%;
  }
  .navbar__menu__ul__item > p {
    position: relative;
  }
  .navbar__menu__ul__item > p > a{
    transition: 0.1s;
    position: relative;
  }
  .navbar__menu__ul__item > p > a:hover{
    /* box-shadow: 0 10px 10px rgba(0,0,0,.7); */
  }
  .content1st__login {
    flex-direction: column;
  }
  /* top: -2px;
    box-shadow: 0 15px 15px rgba(0,0,0,.5); */

  /* .active {
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    /* font-size: var(--font-regular_20); */
  /* } */
  .navbar__logo a:hover,
  .navbar__menu a:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
  .navbar__menu__ul__item  > p {
    display: flex;
    /* justify-content: center; */
    /* height: 100%; */
  }
  .sub__menu__ul__item{
    margin-bottom: 30px;
    z-index: 1;
  }
  .sub__menu__ul {
    transition: all 900ms linear;
    position: absolute;
    padding: 35px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 110px;
  }
  .sub__menu__ul.hide {
    /* transition: all 900ms linear; */
    display: none;
    z-index: 1;
  }
  .navbar__loginjoin__ul__item:hover {
    opacity: 0.5;
    transition: 0.3s; 
  }
  .navbar__toggle-btn {
    position: absolute; 
    top: 22px;
    right: 15px;
    font-size: 24px;
    border: 0px;
    color: var(--color-white);
    background-color: #132332;
    display: none;
  }
  .navbar__toggle-btn:hover {
    opacity: 0.5;
    transition: 0.3s; 
  }
  .navbar__loginjoin {
    display: flex;
    justify-content: center;
    width: 14%;
    z-index: 2;
  }
  /* .navbar__loginjoin__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 145px;
  } */
  .navbar__loginjoin__ul.loginjoin_left {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50%;
    margin-top: 22px;
  }
  .navbar__loginjoin__ul.loginjoin_left .fa-user-circle{
    font-size: 40px;
    opacity: 0.8;
  }
  .navbar__loginjoin__ul__item  img {
    width: 45px;
    height: 45px;
    border-radius:75px;
    border: 1px solid #7c7979;
    margin: 5px 10px 0 0 ;
    opacity: 0.8;
  }
  .navbar__loginjoin__ul__item span::after {
    content: ' 님';
  } 
  .navbar__loginjoin__ul.loginjoin_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    margin-top: 22px;
  }
  .navbar__loginjoin__ul.loginjoin_right .fa-user-circle, 
  .navbar__loginjoin__ul.loginjoin_right .fa-sign-out-alt, 
  .navbar__loginjoin__ul.loginjoin_right img {    
    display: none;
  }
  
  /* .navbar__loginjoin__ul > li:nth-child(2) {
      border-right: 1px solid var(--color-white);
      padding:0;
      height: 2px;
      width: 30px;
      line-height: 100%;
  } */
  .navbar__outter-box a,
  .navbar__loginjoin__ul li {
    color: var(--color-white);
  }
  .mobile__line {
    display: none;
  }

  /* #navbar.change__color {
    background-color: var(--color-white);
  }
  .menu__bg.change_color {
    background-color: var(--color-white);
  }
  .navbar__outter-box.change_color a,
  .navbar__loginjoin__ul.change_color li {
    color: var(--color-black);
  } */


  /*****************************************************/
  /*********************** header  *********************/
  /*****************************************************/
  .backgroundImg {
    width: 100%;
    height: 400px;
    background-size: cover  ;
  }
  .menu__depth {
    display: flex;
    align-items: center;
    margin: 20px 0 0 30px;
  }
  .menu__depth p,
  .menu__depth select {
    margin: 0 20px;
  }
  .menu__depth p:nth-child(1),
  .menu__depth p:nth-child(3) {
    opacity: 0.5;
  }
  .menu__depth select {
    border: 2px solid white;
    background-color: white;
    font-size: var(--font-small);
    opacity: 0.8;
  }

  /*****************************************************/
  /*********************** footer **********************/
  /*****************************************************/
  #footer {
    display: flex;
    justify-content: center;
    height: 340px;
    width: 100%;
    background-color: #132332;
  }
  .footter__innerbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 1195px;
  }
  .footter__innerbox .top_box, .footter__innerbox .bottom_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footter__innerbox .top_box .left_box {
    padding: 40px 0 0 20px;
  }
  .footter__innerbox .top_box .right_box {
    padding: 40px 20px 0 0;
  }
  .footter__innerbox .left_box_1strow {
    display: flex;
    padding: 0 0 40px 0;
    flex-wrap: wrap;
  }
  .footter__innerbox .left_box_1strow p {
    padding-right: 20px;
  }
  .footter__innerbox .left_box_2strow p:nth-child(1){
    padding: 0 0 10px 0;
  }
  .footter__innerbox .top_box p,  .bottom_box P{
    color: var(--color-white);
    font-weight: var(--font-medium);
    opacity: 0.5;
  }
  .footter__innerbox .box_line {
    width: 98%;
    margin-top: 40px;
    border-top: 1px solid var(--color-white);
    opacity: 0.2;
  }
  .footter__innerbox .bottom_box {
    margin: 50px 0 0 0;
  }
  .footter__innerbox .bottom_box > .left_box {
    padding: 0 0 0 20px;
  }
  .footter__innerbox .bottom_box > .right_box {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
  }
  .footter__innerbox .bottom_box > .right_box p {
    margin-left: 30px;
    flex-wrap: wrap;
  }


  /*****************************************************/
  /****************** board pagination *****************/
  /*****************************************************/

  #content1st {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .content1st__inner.board_cntn_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1195px;
    width: 90%;
  }

  /* board__top 영역 */
  .pagination.board__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .pagination.board__top .board__top__right > button {
    height: 30px;
    width: 100px;
  }


  /* board__filter 영역 */
  .pagination.board__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .pagination.board__filter #board__filter__right__write {
    display: none;
    height: 30px;
    width: 100px;
  }
  .pagination.board__filter select {
    width: 100px;
    height: 30px;
    margin-right: 5px;
  }
  .pagination.board__filter .board__filter__right > input {
    height: 30px;
    position: relative;
    /* bottom: 2px; */
    margin-right: 5px;
  }
  .pagination.board__filter #search {
    width: 100px;
    height: 30px;
  }
  .pagination.board__filter option {
    text-align: center;
  }
  .pagination.bottom__line {
    width: 100%;
    border: 1px solid var(--color-dark-grey);
    margin-top: 20px;
    opacity: 0.7;
  }

  /* board__header 영역 */
  .pagination.board__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-light-white);
  }


  /* board__header column이 6개일 경우  */
  .pagination.board__header.row_cnt_6 p:nth-child(1) {
    width: 80px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_6 p:nth-child(2) {
    width: 600px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_6 p:nth-child(3) {
    width: 184px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_6 p:nth-child(4) {
    width: 130px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_6 p:nth-child(5) {
    width: 98px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_6 p:nth-child(6) {
    width: 98px;
    text-align: center;
  }


  /* board__header column이 7개일 경우  */
  .pagination.board__header.row_cnt_7 p:nth-child(1) {
    width: 80px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_7 p:nth-child(2) {
    width: 520px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_7 p:nth-child(3) {
    width: 204px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_7 p:nth-child(4) {
    width: 110px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_7 p:nth-child(5) {
    width: 98px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_7 p:nth-child(6) {
    width: 98px;
    text-align: center;
  }
  .pagination.board__header.row_cnt_7 p:nth-child(7) {
    width: 80px;
    text-align: center;
  }

  

  /* board__contents 가 모바일 버전일 경우 */
  #boardList__bind  .board__mobile__contents {
    display: none;
    border-bottom: 1px solid var(--color-dark-white);
    width: 100%;
    justify-content: space-between;
    height: 80px;
  }
  #boardList__bind .left__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
  }
  #boardList__bind .board__mobile__contents > a {
    width: 100%;
  }
  #boardList__bind .left__box .inner__box {
    display: flex;
    flex-direction: column;
    height: 70%;
  }
  #boardList__bind .left__box .left__box__top {
    display: flex;
  }
  #boardList__bind .left__box .left__box__top p {
    font-size: var(--font-regular);
  }
  #boardList__bind .left__box .left__box__bottom {
    display: flex;
  }
  #boardList__bind .left__box .left__box__bottom p {
    font-size: var(--font-small);
    opacity: 0.5;
  }
  #boardList__bind .left__box .left__box__bottom p{
    margin-right: 5px;
  }
  #boardList__bind .right__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #boardList__bind .right__box .inner__box {
    border-radius: 10px;
    background-color: var(--color-light-white);
    opacity: 0.6;
    height: 70%;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* boardList__bind 의 board__contents 영역 */
  #boardList__bind .board__contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color-dark-white);
    height: 40px;
  }

  /* board__contents column이 6개일 경우  */
  #boardList__bind .board__contents.row_cnt_6 p:nth-child(1) {
    width: 80px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_6 p:nth-child(2) {
    width: 600px;
    text-align: left;
  }
  #boardList__bind .board__contents.row_cnt_6 p:nth-child(3) {
    width: 184px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_6 p:nth-child(4) {
    width: 130px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_6 p:nth-child(5) {
    width: 98px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_6 p:nth-child(6) {
    width: 98px;
    text-align: center;
  }

  /* board__contents column이 7개일 경우  */
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(1) {
    width: 80px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(2) {
    width: 580px;
    text-align: left;
  }
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(3) {
    width: 204px;
    text-align: left;
  }
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(4) {
    width: 110px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(5) {
    width: 98px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(6) {
    width: 98px;
    text-align: center;
  }
  #boardList__bind .board__contents.row_cnt_7 p:nth-child(7) {
    width: 80px;
    text-align: center;
  }


  /* 이미지 OR 비디오 게시판 스타일링 */
  #boardList__bind .boardList__bind__cntn {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  #boardList__bind .box_cntn {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 27px;
    max-width: 250px;
  }

  #boardList__bind .vedio__area {
    border: 1px solid var(--color-dark-white);
    width: 250px;
    height: 150px;
  }

  #boardList__bind .title__area > p {
    font-size: var(--font-regular_20);
    margin: 10px 0;
  }

  .bibleIndex__area > p,
  .writer__area > p,
  .date__area > p,
  .viewCount__area > p, 
  .worship__area > p {
    font-size: var(--font-micro);
  }

  #boardList__bind .board__writer::before {
    content: "작성자 : ";
  }
  #boardList__bind .board__date::before {
    content: "날짜 : ";
  }
  #boardList__bind .board_viewCount::before {
    content: "조회수 : ";
  }

  #boardList__bind .board_viewCount {
    opacity: 0.5;
  }

  .boardList__bind__cntn p {
    margin: 0 0 ;
  }

  .boardList__bind__cntn .img__area > img {
    width: 250px;
    height: 150px;
    object-fit: cover;
  }

  .boardList__bind__cntn .img__area > img:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  /* .boardList__bind__cntn .img__area .fa-tv {
    position: relative;
    right: 125px;
    bottom: 65px;
    opacity: 0.0;
  } */


  /* boardList__bind 의 paging button 영역 */
  #boardList__bind .fa-angle-double-left, #boardList__bind .fa-angle-left,
  #boardList__bind .fa-angle-double-right, #boardList__bind .fa-angle-right {
    font-size: 25px;
    opacity: 0.6;
  }
  #boardList__bind .board__page__btn {
    display: flex;
    width: 100%;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  #boardList__bind {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #boardList__bind .board__page__number {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    line-height: 25px;
    width: 30px;
    border: 2px solid var(--color-light-white);
    background-color: var(--color-white);
    opacity: 0.8;
  }
  #boardList__bind .curPage {
    opacity: 1;
    font-weight: var(--weight-bold);
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
  }
  #boardList__bind .board__page__number:hover {
    border: 2px solid var(--color-blue);
    font-weight: var(--weight-bold);
    color: var(--color-blue);
    opacity: 1;
  }
  #boardList__bind .move__first__btn ,
  #boardList__bind .move__previous__btn,
  #boardList__bind .move__next__btn,
  #boardList__bind .move__last__btn {
    border: 0px solid var(--color-white);
    background-color: var(--color-white);
  }


  /* board 게시글 작성 페이지 */
  .board_cntn_area > div,
  .board_cntn_area > div > input,
  .board_cntn_area > div > textarea {
    width: 100%;
  }
  .board_cntn_area .title ,
  .board_cntn_area .index__cntn ,
  .board_cntn_area .whorship__div ,
  .board_cntn_area .content,
  .board_cntn_area .video__div,
  .board_cntn_area .img__upload,
  .board_cntn_area .youtube_src,
  .board_cntn_area .video_upload {
    display: flex;
    flex-direction: column;
  }
  .board_cntn_area input {
    border: 2px solid #dadada;
    height: 28px;
    opacity: 0.8;
    border-radius: 5px;
  }
  .board_cntn_area input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
  }
  .board_cntn_area label {
    margin: 15px 0 8px 0;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    opacity: 0.7;
  }
  label { 
    font-family:sans-serif;
    color:#444;
    text-shadow:0 0 2px #ddd;
  }
  .board_cntn_area select, textarea{
    border: 2px solid var(--color-dark-white);
    opacity: 0.9;
    border-radius: 5px;
  }
  .board_cntn_area textarea {
    height: 500px;
  }
  .board_cntn_area select {
    height: 28px;
  }
  .board_cntn_area select:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
  }
  .board_cntn_area textarea:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
  }
  .board_cntn_area button {
    height: 30px;
    border: 2px solid antiquewhite;
    opacity: 0.9;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 1em;
  }

  .board_cntn_area .last__contents {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .board_cntn_area .last__contents  p:nth-child(2),
  .board_cntn_area .last__contents  p:nth-child(4) {
    margin: 15px 0 8px 0;
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    opacity: 0.7;
    margin: 0 0 0 5px;
  }
  .board_cntn_area .last__contents  p:nth-child(1),
  .board_cntn_area .last__contents  p:nth-child(3) {
    margin: 15px 0 8px 0;
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
    opacity: 0.7;
    margin: 0 0 0 15px;
  }
  .board_cntn_area .last__contents > input {
    width: 100px important!;
  }
  .board_cntn_area .top__title {
    margin-bottom: 20px;
    text-align: center;
    opacity: 0.7;
  }
  .board_cntn_area .btns {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .board_cntn_area .btns button:nth-child(1) {
    margin-right: 5px;
  }

  .fa-sort-up {
    position: relative;
    top: 4px;
    right: 2px;
  }

  /* 유튜브 영상 iframe 사이즈 조정 */
  #boardList__bind iframe {
    width: 100%;
  }
  #boardDetail_bind iframe {
    width: 1195px;
    height: 680px;
  }
  #youtube_video {
    position: relative; 
    height:0;
    padding-bottom: 56.25%;
  }

  /* board 게시글 상세 조회 페이지 */
  #boardDetail_bind .board_kor_nm,
  #boardDetail_bind .index_cntn,
  #boardDetail_bind .reg_dt {    
    display: flex;
    align-items: center;
    opacity: 0.9;
  }
  #boardDetail_bind .reg_dt > .reg_dt__selectCnt::before {    
    content: '조회';
    margin: 0 4px 0 6px;
  }
  #boardDetail_bind .reg_dt > p:nth-child(2) {
    opacity: 0.7;
  }
  #boardDetail_bind .board_title > p {
    opacity: 0.8;
    text-align: center;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
  }
   
  #boardDetail_bind .board_video {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  #boardDetail_bind .img__area > img {
    width: 100%;
    object-fit: cover;
  }
  #boardDetail_bind .board_cntn {
    margin: 20px 0 180px 20px;
    display: flex;
    flex-direction: column;
  }
  #boardDetail_bind .board_cntn.img_mix {
    margin: 20px 0 60px 0;
    display: flex;
    flex-direction: column;
  }
  #boardDetail_bind .board_cntn_likeIcon {
    font-size: var(--font-small);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #boardDetail_bind .board_cntn_likeIcon .board_cntn_likeIcon_left {
    display: flex;
    align-items: center;
    opacity: 0.8;
  }
  #boardDetail_bind .board_cntn_likeIcon .board_cntn_likeIcon_left .fa-heart{
    cursor: pointer;
  }
  #boardDetail_bind .board_cntn_likeIcon a {
    cursor: pointer;
  }
  #boardDetail_bind .board_cntn_likeIcon a:hover {
    opacity: 0.7;
    color: var(--color-pink);
  }
  #boardDetail_bind .board_cntn_likeCnt::before {
    content: '좋아요';
    margin: 0 5px 0 5px;
  }
  .fa-heart {
    color: red;
  }
  #boardDetail_bind .board_video > p:nth-child(1),
  #boardDetail_bind .board_cntn > p:nth-child(1){
    margin-bottom: 15px;
    font-size: var(--font-regular_20);
    font-weight: var(--weight-semi-bold);
  }
  #boardDetail_bind .btns {
    margin: 20px 0;
    text-align: right;
  }
  #boardDetail_bind .line.top {
    margin-top: 20px;
  }
  #boardDetail_bind .line.bottom {
    margin-top: 10px;
  }
  #boardDetail_bind .writer__info {
    display: flex;
    align-items: center;
  }
  #boardDetail_bind .writer__info > .writer__info__profileImg > img{
    width: 50px;
    height: 50px;
    border-radius:75px;
    border: 1px solid #7c7979;
    margin-right: 10px;
  }
  #boardDetail_bind .writer__info > .writer__info__etc {
    display: flex;
    flex-direction: column;
  }

  #boardDetail_bind .line {
    border: 1px solid var(--color-dark-white);
    opacity: 0.7;
    margin: 10px 0;
  }
  #boardDetail_bind .lightLine {
    border: 1px solid var(--color-dark-white);
    opacity: 0.4;
    margin: 10px 0;
  }
  #boardDetail_bind textarea {
    opacity: 0.6;
  }
  #boardDetail_bind button {
    height: 30px;
    border: 2px solid antiquewhite;
    opacity: 0.9;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 1em;
  }
  #boardDetail_bind .replyCntnList {
    width: 100%;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__outter{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__leftBox__profile .fa-user-circle{
    /* border-radius:75px; */
    font-size: 50px;
    opacity: 0.8;
    margin: 5px 10px 0 0 ;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__leftBox__profile > img{
    width: 50px;
    height: 50px;
    border-radius:75px;
    border: 1px solid #7c7979;
    margin: 5px 10px 0 0 ;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__rightBox__top > .replyCntn {
    display: flex;
    flex-wrap: wrap;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__rightBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__rightBox__bottom {
    width: 100%;
    margin: 10px 5px 0 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    flex-direction: row;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__rightBox__bottom .leftBox {
    display: flex;
    align-items: baseline;
  }
  #boardDetail_bind .replyCntnList .replyCntnList__rightBox__bottom .rightBox {
    display: flex;

  }
  #boardDetail_bind .replyCntnList .replyCntnList__rightBox__bottom .rightBox a:nth-child(1){
    margin-right: 5px;
  }
  #boardDetail_bind .replyCntnList__rightBox__bottom .rightBox__bottom__yymmdd {
    margin-right: 10px;
  }
  #boardDetail_bind .replyCntnList__rightBox__bottom .rightBox__bottom__hhmi {
    margin-right: 10px;
  }
  #boardDetail_bind .replyCntnList__rightBox__bottom a {
    cursor: pointer;
  }
  #boardDetail_bind .replyCntnList__rightBox__bottom a:hover {
    opacity: 0.8;
    color: var(--color-pink);
    /* color:  #FAEBD7; */
  }
  #boardDetail_bind #boardReplyList .moveRightReply{
    margin-left: 5%;
    width: 95%;
  }  
  #boardDetail_bind .boardReply__title > p{
    font-size: var(--font-medium);
  }
  #boardDetail_bind .boardReply__title {
    margin: 10px 0 20px 0 ;
  }
  #boardDetail_bind .boardReply__cntn__outterLine {
    border: 1px solid var(--color-dark-white);
    padding: 10px 10px 10px 10px;
  }
  .boardReply__cntn__outterLine textarea {
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px 0 ;
    border: 1px solid var(--color-white);
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    /* max-height: 500px; */
    min-height: 30px;
  } 
  .boardReply__cntn__outterLine .reply__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .optionItems .fa-camera-retro {
    margin-right: 10px;
    opacity: 0.5;
  }
  .returnList {
    text-align: right;
  }
  .fa-camera-retro,
  .fa-smile {
    cursor: pointer;
  }

  /*****************************************************/
  /********************** Media Query ******************/
  /*****************************************************/

  /* For below 1320px screen width */
  @media screen and (max-width: 1320px) {
    :root {
        --font-large:36px;
        --font-regular:16px;
        --font-small: 14px;
        /* --font-micro: 14px; */
    }
  } 
  
  /* For below 1023px screen width */

  /**************************/
  /****** navbar start ******/
  /**************************/
  @media screen and (max-width: 1050px) {
    .navbar__logo a {
      display: none;
    } 

    .navbar__loginjoin {
      justify-content: flex-start;
    }

    .navbar__loginjoin__ul.loginjoin_left {
      display: none;
    }

    .navbar__loginjoin__ul.loginjoin_right {
      width: 100%;
    }
    .navbar__logo {
      width: 10%;
    }

    .navbar__menu {
      width: 72%;
    }
    .backgroundImg {
    height:   350px;
    background-size: cover;
    }
  }
  

  
  @media screen and (max-width: 900px) {
    .navbar__loginjoin ul:nth-child(1) {
      display: none;
    }
    .backgroundImg {
      height:   300px;
      background-size: cover  ;
    }

    .menu__depth {
      margin: 20px 0 0 2%;
    }
  }



  @media screen and (max-width: 768px) {
  
    #navbar {
      padding-bottom: 10px;
    }

    .backgroundImg {
      height:   270px;
      background-size: cover  ;
    }

    .navbar__loginjoin, 
    .navbar__menu {
      display: none;
      background-color: #132332;
    }

    .navbar__menu {
      margin-top: 10px;
    }

    .navbar__outter-box {
      flex-direction: column;
    }

    .sub__menu__ul {
      /* transition: all 900ms linear; */
      position: relative;
      padding: 0 0 ;
      margin-left: 20px;
      width: auto;
    }

    .sub__menu__ul__item{
      margin: 8px 0;
      z-index: 1;
    }

    .sub__menu__ul__item:hover{
      opacity: 1.0;
      border-bottom: 1px solid white;
    }

    .navbar__logo img {
      flex-flow: 1;
      margin-top: 5px;
    }

    .navbar__logo a {
      display: flex;
      flex-flow: 2;
      margin-top: 10px;
    } 

    .navbar__logo {
      width: 100%;
      margin-right: 5%;
    }

    .navbar__menu {
      width: 100%;
      /* height: 250px; */
      align-self: flex-start;
    } 
    .navbar__menu__ul {
      flex-direction: column;
      height: 100%;
      padding-left: 20px;
      padding-right: 40px;
      margin-top: 0;
    }
    .navbar__menu__ul__item {
      margin-top: 0px;
    }
    .navbar__menu__ul__item.active {
      opacity: 0.5;
      color: #7c7979;
    }
    .mobile__line {
      display: block;
      width: 100%;
      border-top: 1px solid var(--color-white);
      opacity: 0.2;
    }
    .navbar__menu__ul__item:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
    .navbar__toggle-btn {
      display: block;
    }
    /* .navbar__logo > a {
        margin-left: 30.8%;
    } */
    
    .navbar__logo > img {
      position: relative;
      width: 50px;
      height: 50px;
      margin-right: 5px;
      margin-left: 20px;
    }

    .navbar__loginjoin__ul.loginjoin_left ,
    .navbar__loginjoin__ul.loginjoin_left img {
      font-size: 20px;
    }

    .navbar__loginjoin__ul.loginjoin_left .fa-user-circle {
      font-size: 20px;
    }

    .navbar__loginjoin__ul.loginjoin_left,
    .navbar__loginjoin__ul.loginjoin_right {
      width: 100%;
      padding-left: 20px;
      padding-right: 40px;
    }

    .navbar__loginjoin__ul.loginjoin_right .fa-user-circle {
      margin: 0 15px 0 2px;
    }

    .navbar__loginjoin__ul.loginjoin_right .fa-user-circle, 
    .navbar__loginjoin__ul.loginjoin_right .fa-sign-out-alt, 
    .navbar__loginjoin__ul.loginjoin_right img {    
      display: block;
    }

    .navbar__loginjoin__ul.loginjoin_right .fa-sign-out-alt {
      margin: 0 15px 0 2px;
    }

    .navbar__loginjoin__ul.loginjoin_right .navbar__loginjoin__ul__item{
      height: 35px;
    }

    .navbar__menu__ul__item  > p {
      justify-content: flex-start;
    }

    .navbar__loginjoin {
      flex-direction: column;
      width: 100%;
      justify-content: flex-start;
    }

    .navbar__loginjoin__ul__item  img {
      width: 25px;
      height: 25px;
      opacity: 0.8;
    }

    .navbar__loginjoin__ul.loginjoin_right li:nth-child(1){
      margin: 10px 0 0 0;
    }

    .navbar__loginjoin__ul.loginjoin_right li:nth-child(3){
      margin: 5px 0 0 0;
    }

    .navbar__loginjoin__ul.loginjoin_right li:nth-child(4){
      margin-bottom: 10px;
    }

    .navbar__loginjoin__ul .navbar__loginjoin__ul__item {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .menu__depth {
      margin: 20px 0 10px 1.5%;
    }
    .backgroundImg {
      height:   180px;
      background-size: cover  ;
    }
    .pagination.board__filter {
      align-items: flex-end;
    }
    .pagination.board__filter select{
      background-color: var(--color-white);
    }
    .pagination.board__filter #year_select_box {
      width: 75px;
      /* border: 0; */
    }
    .pagination.board__filter #month_select_box {
      width: 55px;
      /* border: 0; */
    }
    .pagination.board__filter #search_div_cd {
      width: 55px;
      /* border: 0; */
    }
    .pagination.board__filter .board__filter__left {
      display: flex;
    }
    .pagination.board__filter .board__filter__right {
      display: flex;
    }
    .pagination.board__filter #search {
      width: 50px;
    }
    .pagination.board__top .board__top__right > button {
      width: 70px;
    }
    #search_text {
      width: 100px;
    }
    .board_cntn_area .content {
      height: 400px;
    }

  }

  @media screen and (max-width: 650px) {
    #boardList__bind .boardList__bind__cntn {
      justify-content: center;
    }
    .boardList__bind__cntn .img__area > img {
      width: 350px;
      height: 200px;
      object-fit: cover;
    }
    #boardList__bind .box_cntn {
      max-width: 350px;
    }
  }
  @media screen and (max-width: 600px) {
    /* boardList__bind 의 board__contents 영역 */
    #boardList__bind .board__contents {
      display: none;
    }
    #boardList__bind  .board__mobile__contents {
      display: flex;
    }
    .pagination.board__header {
      display: none;
    }
  }
  @media screen and (max-width: 480px) {

    .menu__depth {
      margin: 20px 0 20px 2%;
    }
    .menu__depth p {
      margin: 0 10px;
    }
    #boardDetail_bind #boardReplyList .moveRightReply{
      margin-left: 10%;
      width: 90%;
    }
    .pagination.board__filter .board__filter__left{
      margin-bottom: 5px;
    }
    .pagination.board__filter #month_select_box {
      margin-right: 0;
    }
    .pagination.board__top .board__top__right > button {
      display: none;
    }
    .pagination.board__filter {
      flex-direction: column;
      align-items: flex-start;
    }
    .pagination.board__filter #board__filter__right__write {
      display: block;
      width: 65px;
      margin-left: 5px;
      font-size: revert;
    }
    .pagination.board__filter select{
      background-color: var(--color-white);
      opacity: 0.6;
    }
    .pagination.board__filter #year_select_box {
      width: 75px;
      /* border: 0; */
    }
    .pagination.board__filter #month_select_box {
      width: 55px;
      /* border: 0; */
    }
    .pagination.board__filter #search_div_cd {
      width: 55px;
      align-self: flex-start;
      /* border: 0; */
    }
    .pagination.board__filter .board__filter__left {
      display: flex;
    }
    .pagination.board__filter .board__filter__right {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      /* justify-content: flex-end; */
    }
    .pagination.board__filter #search {
      width: 50px;
    }
    .pagination.board__top .board__top__right > button {
      width: 70px;
    }
    #search_text {
      width: 100px;
    }
    .board_cntn_area .content {
      height: 300px;
    }
    :root {
      --font-large: 34px;
      --font-medium: 20px;
      --font-regular_20: 20px;
      --font-regular: 14px;
      --font-small: 12px;
      --font-micro: 11px;
    }
  }
  
  
  
