<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/subPage_01_layout">

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/login/loginForm.css}" >
    </th:block>
    
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/login/loginForm.js}"></script>
    </th:block>

    <div layout:fragment="content">

        <!-- content1st -->
        <section id="content1st">
            <div class="content1st__inner">
                <form id="loginForm" method="POST" action="/login">
                    <div class="login_top">
                        <p>회원 로그인</p>
                    </div>
                    <div class="login_middle_01">
                        <div class="box_01">
                            <label for="">이메일</label>
                            <label for="">비밀번호</label>
                        </div>
                        <div class="box_02">
                            <input type="text" placeholder="이메일" id="email_addr" name="email_addr">
                            <input type="password" placeholder="비밀번호" id="password" name="password">
                        </div>
                        <div class="box_03 loginBtn" >
                            <i class="fas fa-power-off"></i>
                            <p>로그인</p>
                        </div>
                    </div>
                    <div class="login_middle_02">
                        <input type="checkbox" id="user_id">
                        <label for="user_id">아이디 저장</label>
                        <input type="checkbox" id="user_pw">
                        <label for="user_pw">자동 로그인</label>
                    </div>
                    <hr>
                    <div class="login_bottom">
                        <button type="button">아이디 찾기</button>
                        <button type="button">비밀번호 찾기</button>
                        <button type="button" onclick="movePage('joinForm')" >회원가입</button>
                    </div>
                </form>
            </div>
        </section> 

    </div>
</html>