
  /*****************************************************/
  /********************* content1st ********************/
  /*****************************************************/
    
  /* .content1st__boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-white);
    width: 1300px;
    height: 147px;
    position: relative;
    bottom: 60px;
  } */

  /* .content1st__box {
    display: flex;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  } */

  /* .content1st__box__left {
    width: 120px;
  } */

  /* .content1st__box__line {
    border: 1px solid var(--color-yellow);
    width: 0;
    height: 100px;
    margin: 30px 20px;
  } */

  /* .content1st__box__right > p:nth-child(1){
    color: #0f4c82;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
  } */

  /* .content1st__box__right > p:nth-child(2){
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    opacity: 0.5;    
  } */

  /* .content1st__box__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
  } */


  /*****************************************************/
  /********************* content2st ********************/
  /*****************************************************/
  #content1st {
    margin-bottom: 0;
  }

  #content2st {
    display: flex;
    justify-content: center;
    position: relative;
    background: url(../../imgs/main/main_background.png) ;
    background-size: 100% 100%;
    
  }
  #content2st .content2st__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 100%;
    margin-top: 50px;
  }
  #content2st .content2st__inner > h1 {
    margin: 40px 0 80px 0;
  }
  /****** content2st > boxs ******/
  .content2st__boxs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 20px;
    width: 90%;
    max-width: 1195px;
    justify-content: center;
    /* flex-wrap: wrap; */
  }
  .content2st__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .content2st__box__atc {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .box_dark {
    width: 100%;
    height: 100%;
    background: #444;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;
    opacity: 0.6;
  }
  .content2st__boxs .content2st__box.no_01 {
    /* background-image: url(../../imgs/main/content1_1st_img.jpg) ; */
    background: url(../../imgs/main/content1_1st_img.jpg) ;
    background-size: 100% 100%; 
    border-radius: 10px;
    position: relative;
    top: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    transition: 0.2s;
  }
  .content2st__boxs .content2st__box.no_02 {
    background-image: url(../../imgs/main/content1_2st_img.jpg) ;
    background-size: 100% 100%; 
    grid-column: 2/span 2;
    border-radius: 10px;
    position: relative;
    top: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    transition: 0.2s;
  }
  .content2st__boxs .content2st__box.no_03{
    background-image: url(../../imgs/main/content1_3st_img.jpg) ;
    background-size: 100% 100%; 
    border-radius: 10px;
    position: relative;
    top: 0;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    transition: 0.2s;
  }
  .content2st__boxs .content2st__box.no_01:hover {
    top: -2px;
    box-shadow: 0 15px 15px rgba(0,0,0,.5);
  }
  .content2st__boxs .content2st__box.no_02:hover {
    top: -2px;
    box-shadow: 0 15px 15px rgba(0,0,0,.5);
  }
  .content2st__boxs .content2st__box.no_03:hover {
    top: -2px;
    box-shadow: 0 15px 15px rgba(0,0,0,.5);
  }
  .content2st__icons .content2st__icons__icon {
    position: relative;
    top: 0;
    transition: 0.2s;
  }
  .content2st__icons .content2st__icons__icon:hover {
    top: -2px;
  }
  .content2st__box  p,
  .content2st__box  h1, 
  .content2st__box  h2 {
    color: var(--color-white);
    z-index: 0.9;
  }
  .content2st__box  h1 {
    font-size: xx-large;
  }
  .content2st__box  h2 {
    font-size: x-large;
  }
  /****** content2st > icons ******/
  .content2st__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(230px, auto);
    grid-gap: 20px;
    width: 90%;
    max-width: 1195px;
    justify-content: center;
    align-items: center;
  }
  .content2st__icons__icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 1;
    width: 100%;
    height: 70%;
  }
  
  /*****************************************************/
  /********************* boxs slider *******************/
  /*****************************************************/
  /* #content1st__boxs_slider {
    margin: 0 auto;
  
    width: 100vw;
    text-align: center;
    height: 130px;
  }

  .boxs_slides .boxs_inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 300vw;
    display: flex;
  }

  .box_slide-content {
    width: 100vw;
    padding: 20px 40px;
    display: flex;
  
  }

  
  #boxs_slide1:checked ~ .boxs_slides .boxs_inner {
    margin-left: 0;
  }

  #boxs_slide2:checked ~ .boxs_slides .boxs_inner {
      margin-left: -100%;
  }
  #boxs_slide3:checked ~ .boxs_slides .boxs_inner {
      margin-left: -200%;
  }
  
  #boxs_slide1:checked ~ #boxs_controls label:nth-child(2),
  #boxs_slide2:checked ~ #boxs_controls label:nth-child(3),
  #boxs_slide3:checked ~ #boxs_controls label:nth-child(1) {
      background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
      float:right;
      margin: 0 30px 0 0;
      display: block;
      
  }
  
  #boxs_slide1:checked ~ #boxs_controls label:nth-child(3),
  #boxs_slide2:checked ~ #boxs_controls label:nth-child(1),
  #boxs_slide3:checked ~ #boxs_controls label:nth-child(2) {
      background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
      float: left;
      margin: 0 0 0 30px;
      display: block;
  } */

  /*****************************************************/
  /************************ slider *********************/
  /*****************************************************/
  #slider {
    margin: 0 auto;
    /* width: 800px; */
    max-width: 100%;
    text-align: center;
    height: 641px;
  }
  #slider input[type=radio] {
      display: none;
  }
  #slider label {
      cursor:pointer;
      text-decoration: none;
  }
  #slides .inner {
      transition: margin-left 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      width: 400%;
      display: flex;
  }
  .slide-content {
      width: 100%;
  }
  #overflow {
      width: 100%;
      overflow: hidden;
  }
  /* 라디오 보튼이 눌리면 .inner 박스 위치를 변경한다. */
  #slide1:checked ~ #slides .inner {
      margin-left: 0;
  }
  #slide2:checked ~ #slides .inner {
      margin-left: -100%;
  }
  #slide3:checked ~ #slides .inner {
      margin-left: -200%;
  }
  #slide4:checked ~ #slides .inner {
      margin-left: -300%;
  }
  #slides .slide {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100%; */
      color: #fff;
  }
  #controls {
      margin: -350px 0 0 0;
      width: 100%;
      height: 50px;
      z-index: 3;
      position: relative;
  }
  #controls label {
      transition: opacity 0.2s ease-out;
      display: none;
      width: 40px;
      height: 50px;
      opacity: .4;
  
  }
  #controls label:hover {
      opacity: 1;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1) {
      background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
      float:right;
      margin: 0 30px 0 0;
      display: block;
      /* border-radius: 50px;
      border: 2px solid var(--color-white); */
  }
  #slide1:checked ~ #controls label:nth-child(4),
  #slide2:checked ~ #controls label:nth-child(1),
  #slide3:checked ~ #controls label:nth-child(2),
  #slide4:checked ~ #controls label:nth-child(3) {
      background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
      float: left;
      margin: 0 0 0 30px;
      display: block;
  }
  #bullets {
      margin: -300px 1100px 0 0;
      text-align: center;
  }
  
  #bullets label {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius:100%;
      background: #ccc;
      margin: 0 10px;
  }
  #slide1:checked ~ #bullets label:nth-child(1),
  #slide2:checked ~ #bullets label:nth-child(2),
  #slide3:checked ~ #bullets label:nth-child(3),
  #slide4:checked ~ #bullets label:nth-child(4) {
      background: #444;
  }
  
  /*****************************************************/
  /********************** Media Query ******************/
  /*****************************************************/

  /* For below 1800px screen width */
  @media screen and (max-width: 1800px) {
    .slide-content img {
      width: 1800px;
      height: 641px;
    }
  }
  /* For below 1725px screen width */
  @media screen and (max-width: 1725px) {
    .slide-content img {
      width: 1725px;
    }
  }
  /* For below 1650px screen width */
  @media screen and (max-width: 1650px) {
    .slide-content img {
      width: 1650px;
    }
  }
  /* For below 1550px screen width */
  @media screen and (max-width: 1550px) {
    .slide-content img {
      width: 1550px;
    }
  }
  /* For below 1450px screen width */
  @media screen and (max-width: 1450px) {
    .slide-content img {
      width: 1450px;
    }
    #bullets {
      margin: -300px 900px 0 0;
      text-align: center;
    }
  }
  /* For below 1320px screen width */
  @media screen and (max-width: 1320px) {
    .slide-content img {
      width: 100%;
    }
    #content2st .content2st__inner > h1 {     
      font-weight: var(--weight-big-bold);
    }
    .content2st__boxs {
      grid-template-columns: 1fr 1fr;
    }
    .content2st__boxs .content2st__box.no_01 {
      order: 2;
    }
    .content2st__boxs .content2st__box.no_02 {
      order: 1;
      grid-column: 1/span 2;
    }
    .content2st__boxs .content2st__box.no_03 {
      order: 3;
    }
    #content2st .content2st__inner {
      margin-top: 100px;
    }
  }

  /* For below 1225px screen width */
  @media screen and (max-width: 1225px) {
    #content1st {
      height: 580px;
      margin-bottom: 0;
    }
    #slider {
      height: 580px;
    }
    .slide-content img {
      height: 540px;
    }
    #bullets {
      margin: -240px 800px 0 0;
    }
    #controls {
      margin: -320px 0 0 0;
    }
  }

  /* For below 1023px screen width */
  @media screen and (max-width: 1023px) {
    #content1st {
      height: 480px;
      margin-bottom: 0;
    }
    #slider {
      height: 480px;
    }
    #bullets {
      margin: -200px 700px 0 0;
    }
    #controls {
      margin: -260px 0 0 0;
    }
    .slide-content img {
      height: 420px;
    }
  }

   /* For below 915px screen width */
   @media screen and (max-width: 915px) {
    #content1st {
      height: 380px;
      margin-bottom: 0;
    }
    #slider {
      height: 380px;
    }
    #content2st .content2st__inner > h1 {
      margin-bottom: 60px;
    }
    .slide-content img {
      width: 915px;
      height: 340px;
    }
    #controls {
      margin: -180px 0 0 0;
    }
    #controls label {
      width: 25px;
      height: 30px;
    }
    #bullets {
      display: none;
    }
    h1 {
      font-size: xx-large;
    }
    h2 {
      font-size: x-large;
    }
    #content2st .content2st__inner {
      margin-top: 120px;
    }
    /* .content2st__icons__icon.no_01 img{
      width: 40px;
      height: 40px;
    }
    .content2st__icons__icon.no_02 img{
      width: 40px;
      height: 40px;
    }
    .content2st__icons__icon.no_03 img{
      width: 40px;
      height: 40px;
    }
    .content2st__icons__icon.no_04 img{
      width: 40px;
      height: 40px;
    }
    .content2st__icons__icon.no_05 img{
      width: 40px;
      height: 40px;
    } */

    .content2st__icons h2 {
      font-size: x-large;
    }
    .content2st__icons {
      grid-template-columns: 1fr 1fr 1fr ;
      grid-auto-rows: minmax(200px, auto);
      grid-gap: 10px;
    }
    .content2st__icons__icon {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 75%;
    }
   }



  /* For below 768px screen width */
  @media screen and (max-width: 768px) {
    #content1st {
      height: 310px;
      margin-bottom: 0;
    }
    #slider {
      height: 310px;
    }
    #content2st .content2st__inner > h1 {
      margin-bottom: 20px;
      font-size: xx-large;
    }
    .slide-content img {
      width: 100%;
      height: 300px;
    }
    h1 {
      font-size: xx-large;
    }
    h2 {
      font-size: x-large;
    }
    .content2st__boxs {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(300px,auto);
    }
    .content2st__boxs .content2st__box.no_01 {
      border-radius: 20px;
    }
    .content2st__boxs .content2st__box.no_02 {
      border-radius: 20px;
      grid-column: 1;
    }
    .content2st__boxs .content2st__box.no_03 {
      border-radius: 20px;
    }
    .box_dark {
      /* width: 100%;
      height: 100%;
      background:rgba(0, 0, 0, 0.5);
      position: relative;
      left: 0;
      top: 0; */
      border-radius: 20px;
    }
    /* .content2st__icons {
      grid-template-columns: 1fr 1fr 1fr ;
      grid-auto-rows: minmax(200px, auto);
      grid-gap: 10px;
    }
    .content2st__icons__icon {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 75%;
    } */
  }

  @media screen and (max-width: 480px) {
    #content1st {
      height: 250px;
      margin-bottom: 0;
    }
    #slider {
      height: 250px;
    }
    #content2st .content2st__inner > h1 {
      margin: 40px 0;
      font-size: x-large;
    }
    .slide-content img {
      width: 100%;
      height: 250px;
    }
    #controls {
      margin: -150px 0 0 0;
    }
    #bullets {
      margin: -170px 600px 0 0;
    }
    .content2st__box__atc {
      border-radius: 20px;
    }
    .content2st__icons {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(140px, auto);
      grid-gap: 5px;
    }
    .content2st__icons__icon {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
    }
    .content2st__icons__icon img{
      width: 40px;
      height: 40px;
    }
    .content2st__icons__icon.no_04 img{
      width: 35px;
      height: 35px;
    }
    .content2st__icons__icon.no_05 img{
      width: 45px;
      height: 45px;
    }
    .content2st__icons__icon.no_05 {
      margin-bottom: 70px;
    }
    .content2st__icons__icon.no_04 {
      margin-bottom: 70px;
    }
    .content2st__icons h2 {
      font-size: large;
    }
    .content2st__icons p{
      display: none;
    }
    /* .content2st__icons__icon.no_02 img{
      width: 30px;
      height: 30px;
    }
    .content2st__icons__icon.no_03 img{
      width: 30px;
      height: 30px;
    }
    .content2st__icons__icon.no_04 img{
      width: 40px;
      height: 40px;
    }
    .content2st__icons__icon.no_05 img{
      width: 40px;
      height: 40px;
    } */
  }